<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <footer class="mt-auto text-dark-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-black">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-black">@mdo</a>.</p>
  </footer>
</div>