<header class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"　style="position: fixed; top: 0; width: 100%;">
  <div class="d-flex justify-content-between">
    <h3 class="float-md-start mb-0">OHENRO_RUN</h3>
    <nav class="nav nav-masthead justify-content-center">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">メニュー</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">マイページ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">現在地</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">実績</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">利用規約</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>