<div data-turbolinks="false">
<h1 class="text-center">現在地</h1>

<div id="map-container">
  <div id="map"></div>
  <div id="info-container">
    <div id="info">
      <p id="distance">進んだ距離: <%= "#{@total_distance}" %>km</p>
      <p id="remaining-distance">残りの距離: <%= "#{@remaining_distance}" %> km</p>
    </div>
  </div>
</div>


<style>
#map-container {
  display: flex;
  margin-left: 20px;
}

#map {
  height: 450px;
  width: 600px;
}

#info-container {
  margin-left: 20px;
}

#info {
  margin-bottom: 10px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 33.6027, lng: 133.4230},
    zoom: 8,
  });

  codeAddress('<%= @address %>');
  
  function codeAddress(address) {
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>&callback=initMap" async defer></script>
