@import "bootstrap";
@import 'font-awesome';

.img-main {
  width: 400px;
  height: 300px;
}

.form_container {
  max-width:600px;
  margin:0 auto;
  text-align:left;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}