@import "bootstrap";
@import 'font-awesome';
@import "simple_calendar";

.img-main {
  width: 400px;
  height: 300px;
}

.form_container {
  max-width:600px;
  margin:0 auto;
  text-align:left;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}

.delete-container {
  display: inline-block;
  margin-left: 10px; /* 適切な余白を設定してください */
}
